{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    ["module-resolver", {
      "alias": {
        "client": "./src/client",
        "server": "./src/server"
      }
    }]
  ]
}
