body {
    background-color:#fff;
    margin: 0;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    height: 100%;
}

#container {
  overflow: auto;
  background-image: url("/static/images/iphonex-clay-mockup.png");
  /* background-color: blue; */
  width: 100%;
  /* Set a specific height */
  height: 600px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

img {
	max-width:100%;
	max-height:100%;
}

hr {
	display: block;
	width: 30%;
	text-align:center; margin: 0 auto;
    border-top: 1px solid #D3D3D3;

}
@font-face {
font-family: "Inter UI";
src: url("InterUI/Inter-UI-Regular.woff") format("woff");
}

@font-face {
font-family: "Inter UI Bold";
src: url("InterUI/Inter-UI-Medium.woff") format("woff");
}

.imgContainer {
  height: 255px;
  width: 252px;
}

#imgRight {
  margin-right: 20%;
}

#imgLeft {
  margin-left: 20%;
}

#heroText {
	font-family: Inter UI;
	font-size: 42px;
	z-index: 100;
  /* position: relative; */
  color: white;
  font-weight: bold;
  /* left: 25%;
  top: 0%; */
  margin-top: 15%;
  width: 500px;
}

#how {
	position: absolute;
  top: 55%;
  left: 9.5%;
  margin-top: 5px;
   height: 80px;
 	width: auto;
}

#login {
	position: absolute;
  top: 5%;
  right: 13.5%;
  margin-top: 5px;
   height: 8%;
 	width: auto;
}

#signup {
	position: absolute;
  top: 5%;
  right: 3.5%;
  margin-top: 5px;
   height: 8%;
 	width: auto;
}

#headerLogo {
  position: absolute;
  top: 5%;
  left: 5.5%;
  margin-top: 5px;
   height: 8%;
  width: auto;
}

.bodyText {
  display: flex;
  justify-content: space-between;
	padding: 25px 5%;
}

.bodyTextRight {
  display: flex;
  justify-content: space-between;
	padding: 25px 5%;
  text-align: right;
}

.paraTitle {
	font-family: Inter UI Bold;
	font-size: x-large;
  line-height: 43px;
}

#header {
	font-family: Inter UI Bold;
	font-size: x-large;
}

.text {
	font-family: Inter UI;
	font-size: large;
	line-height: 1.4em
	width: 50%;
}

#bodyTextTwo {
	text-align: right;
	padding-right: 9.5%;
	padding-top: 6%;
}

#bodyTextThree {
	padding-left: 9.5%;
	padding-top: 6%;
}

#bodyTextFour {
	text-align: right;
	padding-right: 9.5%;
	padding-top: 6%;
}


#header {
	font-family: Inter UI Bold;
	font-size: x-large;
}
