body {
    background-color:#fff;
    margin: 0;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    height: 100%;
}

#container {
  overflow: auto;
  background-image: url("/static/images/iphonex-clay-mockup.png");
  /* background-color: blue; */
  width: 100%;
  /* Set a specific height */
  height: 600px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  /* position: relative; */
}

img {
	max-width:100%;
	max-height:100%;
}

hr {
	display: block;
	width: 30%;
	text-align:center; margin: 0 auto;
    border-top: 1px solid #D3D3D3;

}
@font-face {
font-family: "Inter UI";
src: url("InterUI/Inter-UI-Regular.woff") format("woff");
}

@font-face {
font-family: "Inter UI Bold";
src: url("InterUI/Inter-UI-Medium.woff") format("woff");
}

.imgContainer {
  height: 255px;
  width: 252px;
}

.heroContainer {
  margin: 120px 0px 0px 100px;
}

#heroText {
	font-family: Inter UI;
	font-size: 42px;
	z-index: 100;
  /* position: relative; */
  color: white;
  font-weight: bold;
  /* left: 25%;
  top: 0%; */
  margin-top: 15%;
  width: 500px;
}

#how {
	position: absolute;
  top: 55%;
  left: 9.5%;
  margin-top: 5px;
   height: 80px;
 	width: auto;
}

#login {
	position: absolute;
  top: 5%;
  right: 13.5%;
  margin-top: 5px;
   height: 8%;
 	width: auto;
}

#signup {
	position: absolute;
  top: 5%;
  right: 3.5%;
  margin-top: 5px;
   height: 8%;
 	width: auto;
}

#headerLogo {
  position: absolute;
  top: 5%;
  left: 5.5%;
  margin-top: 5px;
   height: 8%;
  width: auto;
}

.bodyText {
  display: flex;
  justify-content: space-around;
	padding: 25px 5%;
}

.bodyTextRight {
  display: flex;
  justify-content: space-around;
	padding: 25px 5%;
  text-align: right;
}

.paraTitle {
	font-family: Inter UI Bold;
	font-size: x-large;
  line-height: 43px;
}

.landingParagraph {
  width: 600px;
}

#header {
	font-family: Inter UI Bold;
	font-size: x-large;
}

.text {
	font-family: Inter UI;
	font-size: large;
	line-height: 1.4em
	width: 50%;
}

#bodyTextTwo {
	text-align: right;
	padding-right: 9.5%;
	padding-top: 6%;
}

#bodyTextThree {
	padding-left: 9.5%;
	padding-top: 6%;
}

#bodyTextFour {
	text-align: right;
	padding-right: 9.5%;
	padding-top: 6%;
}

#header {
	font-family: Inter UI Bold;
	font-size: x-large;
}

.menuButtons {
  position: absolute;
  top: 5%;
  right: 3.5%;
  display: flex;
  flex-direction: row;
}

#waiting button {
  margin-left: 10px !important;
  border-radius: 5px !important;
  height: 35px;
  width: 120px;
  background-color: #7DD0FF;
  color: white;
}

#waiting input {
  width: 200px;
}

@media only screen and (max-width: 620px) {

  .bodyText {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .bodyTextRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  #heroText {
  	font-family: Inter UI;
  	font-size: 42px;
  	z-index: 100;
    /* position: relative; */
    color: white;
    font-weight: bold;
    /* left: 25%;
    top: 0%; */
    margin-top: 15%;
    width: 100%;
    font-size: 32px;
  }

  .heroContainer {
    margin: 0px 0px 0px 15px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .landingParagraph {
    width: 100%;
  }

  .menuButtons {
    position: absolute;
    top: 5%;
    right: 3.5%;
    display: flex;
    flex-direction: column;
  }

}
